# BlueJ
*.class
*.ctxt
pkg/
*.bluej
.bluej/

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Maven / Gradle
target/
build/

# Outros
*.log
